

  <nav class="navbar navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#">
          <img src="assets/images/APLogo.svg" class="bi" style="width:5em;">
        </a>
        <div class="navbar-right">
          <a class="navbar-brand" href="#">
            <i class="bi bi-github"></i>
          </a>
          <a class="navbar-brand" href="#">
            <i class="bi bi-instagram"></i>
          </a>
          <a class="navbar-brand" href="#">
            <i class="bi bi-facebook"></i>
          </a>
          <a class="navbar-brand" href="#">
            <i class="bi bi-linkedin"></i>
          </a>
          <button type="button" class="btn btn-outline-light">Login</button>
        </div>
      </div>
  </nav>

    <div class="card bg-dark" id="first card">
      <div id="profile-background">
          <img src="../../../../assets/images/profile-background2.jpg" alt="profile-background" class="profile-background img-fluid">
      </div>    
    </div>
 


